*{
    font-family: Roboto;
    color: black;
    /* background-color: #273339; */
    box-sizing: border-box;
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.login-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#F9FCFE;
}
.flex-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50vh; */
    /* justify-content: space-around; */
}
.join-title{
    font-family: 'Tangerine', cursive;
    font-size: 3.5rem;
    color: #141A1D;
}
a:link {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
a:visited {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
.profile-body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
    /* background-color: #273339; */
}
.landing-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
    /* background-color: #273339; */
}
.buttons{
    display: flex;
}
#root{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.link-login{
    font-family: 'Tangerine', cursive;
}
.bottom-text{
    padding-top: 6rem;
}
.delete-form{
    padding-left: 4rem;
    padding-right: 4rem;
}
.delete-space{
    padding: 2rem;
}
svg{
    margin-top: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.background{
    /* background-color: #273339; */
    height: 100vh;
}
.welcome-back{
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 15% 1rem 15% 1rem;
}
.post-card{
    /* border: solid 1px black; */
    border-radius: 5px;
    /* background-color: gray; */
    padding: 1rem;
    width: 100%;
    max-width: 100%;
}
img{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    display: block;
}
.user-link{
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.user-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.username{
    padding-left: 2rem;
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {
    .posts {
        padding: 1rem 0.5rem;
    }
    
    .profile-body {
        padding: 0 0.5rem;
    }
    
    .landing-profile {
        padding: 0 0.5rem;
    }
    
    .user-link {
        font-size: 3.5rem;
        padding-left: 0.5rem;
    }
    
    .join-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .posts {
        padding: 1rem 0.25rem;
    }
    
    .profile-body {
        padding: 0 0.25rem;
    }
    
    .landing-profile {
        padding: 0 0.25rem;
    }
    
    .user-link {
        font-size: 2.5rem;
        padding-left: 0.5rem;
    }
    
    .join-title {
        font-size: 2rem;
    }
    
    .delete-form {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .user-button {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}