*{
    font-family: Roboto;
    color: black;
    /* background-color: #273339; */
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
}
.login-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#F9FCFE;
}
.flex-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50vh; */
    /* justify-content: space-around; */
}
.join-title{
    font-family: 'Tangerine', cursive;
    font-size: 3.5rem;
    color: #141A1D;
}
a:link {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
a:visited {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
.profile-body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    /* background-color: #273339; */
}
.landing-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 420px;
    /* width: 65%; */
    /* background-color: #273339; */
}
.buttons{
    display: flex;
}
#root{
    display: flex;
    justify-content: center;
}
.link-login{
    font-family: 'Tangerine', cursive;
}
.bottom-text{
    padding-top: 6rem;
}
.delete-form{
    padding-left: 4rem;
    padding-right: 4rem;
}
.delete-space{
    padding: 2rem;
}
svg{
    margin-top: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.background{
    /* background-color: #273339; */
    height: 100vh;
}
.welcome-back{
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 15% 1rem 15% 1rem;
}
.post-card{
    /* border: solid 1px black; */
    border-radius: 5px;
    /* background-color: gray; */
    padding: 1rem;
}
img{
    border-radius: 5px;
}
.user-link{
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.MuiCard-root{
    /* width: 10%; */
}