*{
    font-family: Roboto;
    color: #000000;
}
.posts {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
}
.login-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color:#F9FCFE;
}
.flex-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50vh; */
    /* justify-content: space-around; */
}
.join-title{
    font-family: 'Tangerine', cursive;
    font-size: 3.5rem;
    color: #141A1D;
}
a:link {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
a:visited {
    text-decoration: none;
    color: black;
    background-color: #FDFDF7;
    font-size: 2rem;
    color: #141A1D;
    font-style: italic;
    background-color:#F9FCFE;
}
.profile-body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
.landing-profile{
    margin-top: 20%;
    /* width: 65%; */
}
.buttons{
    display: flex;
}
#root{
    display: flex;
    justify-content: center;
}
.link-login{
    font-family: 'Tangerine', cursive;
}
.bottom-text{
    padding-top: 6rem;
}